Workwi/flows.json
[
    {
        "id": "cf81ea95a4dcbf60",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "652a3341156fac71",
        "type": "mqtt in",
        "z": "cf81ea95a4dcbf60",
        "name": " MQTT - Sensores SmartGuard",
        "topic": "smartguard/sensores",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "159539b2a93e5b43",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "16da8f0c16d9f85b",
                "f3c28216694b43ea"
            ]
        ]
    },
    {
        "id": "16da8f0c16d9f85b",
        "type": "debug",
        "z": "cf81ea95a4dcbf60",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "14776ba2caadf1f1",
        "type": "ui_gauge",
        "z": "cf81ea95a4dcbf60",
        "name": "Gauge Distância",
        "group": "8cdb30b37e567483",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância",
        "label": "cm",
        "format": "{{value}} cm",
        "min": 0,
        "max": "400",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3ac21e"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "e472cb3a51985dd0",
        "type": "ui_text",
        "z": "cf81ea95a4dcbf60",
        "group": "b740c84cae3d6902",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Text Aproximação",
        "label": "Aproximação",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "683f9c7f7fd2ee07",
        "type": "ui_chart",
        "z": "cf81ea95a4dcbf60",
        "name": "Chart Distância",
        "group": "3dc9d21061befa63",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Histórico de Distância",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f3c28216694b43ea",
        "type": "function",
        "z": "cf81ea95a4dcbf60",
        "name": "Separar dados dos sensores",
        "func": "const dados = msg.payload;\n\nconst distancia = {\n    payload: dados.distancia_cm\n};\n\nconst luminosidade = {\n    payload: dados.luminosidade\n};\n\nconst statusAproximacao = {\n    payload: dados.status_aproximacao\n};\n\nconst statusLuminosidade = {\n    payload: dados.status_luminosidade\n};\n\nconst statusGeral = {\n    payload: dados.status_geral\n};\n\nconst graficoDistancia = {\n    payload: dados.distancia_cm\n};\n\nconst graficoLuminosidade = {\n    payload: dados.luminosidade\n};\n\nreturn [\n    distancia,\n    luminosidade,\n    statusAproximacao,\n    statusLuminosidade,\n    statusGeral,\n    graficoDistancia,\n    graficoLuminosidade\n];",
        "outputs": 7,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "14776ba2caadf1f1"
            ],
            [
                "e9e015ec605a08f7"
            ],
            [
                "e472cb3a51985dd0"
            ],
            [
                "bfa41888aa50c58d"
            ],
            [
                "3a384d7d5f5feff3"
            ],
            [
                "683f9c7f7fd2ee07"
            ],
            [
                "8bd469f822a14477"
            ]
        ]
    },
    {
        "id": "e9e015ec605a08f7",
        "type": "ui_gauge",
        "z": "cf81ea95a4dcbf60",
        "name": "Gauge Luminosidade",
        "group": "8cdb30b37e567483",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#b30000",
            "#e6e600",
            "#5bdb24"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "bfa41888aa50c58d",
        "type": "ui_text",
        "z": "cf81ea95a4dcbf60",
        "group": "b740c84cae3d6902",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Text Luminosidade",
        "label": "Luminosidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "3a384d7d5f5feff3",
        "type": "ui_text",
        "z": "cf81ea95a4dcbf60",
        "group": "b740c84cae3d6902",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Text Sensores Gerais",
        "label": "Status Geral",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "8bd469f822a14477",
        "type": "ui_chart",
        "z": "cf81ea95a4dcbf60",
        "name": "Chart Luminosidade",
        "group": "3dc9d21061befa63",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Histórico de Luminosidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "159539b2a93e5b43",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8cdb30b37e567483",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "381c4bbf11b57e2e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b740c84cae3d6902",
        "type": "ui_group",
        "name": "Status do Sistema",
        "tab": "381c4bbf11b57e2e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dc9d21061befa63",
        "type": "ui_group",
        "name": "Histórico",
        "tab": "381c4bbf11b57e2e",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "381c4bbf11b57e2e",
        "type": "ui_tab",
        "name": "SmartGuard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]